html, body , #app {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #000;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

ul, li {
  list-style: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}

.map-content {
  width: 100%;
  height: 100%;
}
