// 按钮的颜色
$primary-color : #5a8def;
$green : #0DE07A; //绿色
$red : #FF5941; //红色
$blue : #1890ff; //蓝色


// 默认字体颜色、二级标题颜色、背景颜色、
$body-background : #fff;
$text-color : #000;
$text-color-secondary : rgba(0, 0, 0, 0.85);
$font-size-sm : 12px;
$font-size-base : 12px;
$font-size-lg : 16px;
$font-family : Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;

// Background color
$background-color-base : rgba(255, 255, 255, 0);
$background-color-hover : rgba(90,141,239,0.2); // 列表鼠标移上去的背景颜色

// 边框颜色以及圆角
$border-color-base : #d9d9d9; // base border outline a component
$border-color-split : #e9e9e9; // split border inside a component
$border-base : 1px solid #d9d9d9;
$border-split : 1px solid #e9e9e9;
$border-radius-base : 4px;

$border-radius-lg : 4px;

$line-height-sm : 28px;
$line-height-normal : 30px;
$line-height-lg : 36px;
$line-height-hg : 40px;

$space-sm : 5px;
$space-base : 10px;
$space-big : 15px;
$space-lg : 20px;
$space-hg : 25px;

// 页面结构
$g-left-width-base : 126px;
$g-left-width-mini : 50px;
$g-middle-width : 280px;
$g-header-height : 60px;

// icon前缀
$icon-prefix : icon-;

